<div class="example-container">

<form #postForm="ngForm" class="example-container" (ngSubmit)="OnRegister(postForm.value)">
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Search by Id" ngModel name="searchValue">  
    </mat-form-field>

    
    <div class="example-button-row">
        <button mat-raised-button type='submit' (click)="onClickSubmit()" >Search</button>      
    </div>  
</form>
</div>

<ag-grid-angular 
    style="width: 100%; height: 100%;" 
    class="ag-theme-balham"
    [rowData]="rowData | async"
    [columnDefs]="columnDefs"
    >
</ag-grid-angular>