<div class="example-container">
    <form  [formGroup]="onSubmitForm" (ngSubmit)="onSubmit(onSubmitForm.value)" >      
        <mat-form-field>
            <input matInput placeholder="Search Document by ID" formControlName="documentId" required>         
        </mat-form-field>&nbsp;&nbsp;
        
        <button mat-button type="submit"> Do Search</button>
        <div>
            <mat-checkbox formControlName="includeDeleted">Include Deleted</mat-checkbox>  &nbsp;
            <mat-checkbox formControlName="includeTsSearch">Include Ts Search</mat-checkbox> &nbsp;
            <mat-checkbox formControlName="docTypeFilter">Doctype Filter</mat-checkbox> &nbsp;
        </div>
         
        <div>
            <mat-checkbox #showDateSelector formControlName="searchByDate" checked="isCheckedDate" >Enable Search by Date </mat-checkbox> 
            <mat-checkbox #showTimeSelector formControlName="searchByTime" checked="isCheckedTime">Enable Search by Time </mat-checkbox> 
      
        </div> 
        <div *ngIf="showDateSelector.checked">
            <mat-form-field>
                <input matInput [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Start Date"  formControlName="startDate" required>
                <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
            </mat-form-field>
            <mat-form-field *ngIf="showTimeSelector.checked">
                    <input matInput [owlDateTime]="dt11" [owlDateTimeTrigger]="dt11" placeholder="Start Time"  formControlName="startTime" required>
                    <owl-date-time [pickerType]="'timer'" #dt11></owl-date-time>
            </mat-form-field>&nbsp;&nbsp;

            <mat-form-field>
                <input matInput [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="End Date"  formControlName="endDate" required>
                <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
            </mat-form-field> 
            <mat-form-field *ngIf="showTimeSelector.checked">
                    <input matInput [owlDateTime]="dt22" [owlDateTimeTrigger]="dt22" placeholder="End Time"  formControlName="endTime" required>
                    <owl-date-time [pickerType]="'timer'" #dt22></owl-date-time>
            </mat-form-field>   
        </div>       
    </form>
  </div>

  <ag-grid-angular 
    style="width: 100%; height: 100%;" 
    class="ag-theme-balham"
    [rowData]="rowData | async"
    [columnDefs]="columnDefs"
    >
    </ag-grid-angular>